.category{
    color: #C513AF;
    font-size: 25px;
    min-width: 300px;
    margin: 25px auto;
    p {
    color: #A7A9AC;
    }
}
.category-btn{
    span{
        color: #A7A9AC;
    }
}
.category-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90vw;

   > *{
      color: #C513AF;
      -webkit-box-shadow: 0 0 5px  #A7A9AC;
        box-shadow: 0 0 5px  #A7A9AC;
        margin: 5px;
      width: 45%;
      min-width: 100px;
      height: 25vh;
    }
}
